# Introduction to SQL and databases
This notebook contains introductory material on writing SQL queries along with some basics on database theory and design.

## What is Data?
The building block of databases is data. And data is simply information. 

## What is a Database?
A database is a collection of data that is easily retrievable. A database can be hand written or electronic.

## A Brief History of Relational Databases
In 1970, Edgar Codd an IBM employee, being unhappy with the current heirarchical databases, wrote a series of papers describing a 'Relational Model'. This model described **entities** or tables that housed data for different types of data. For example, a grocery store capturing transactions could have different entities(tables) for the store, customer, product and employee. Each of these tables would contain **attributes** or columns such as store name, store address and store phone number (for the store table). Each table would also contain a **key** that would uniquely identify each **record** or row and allow for easy access to any particular row. The key also makes relating entities together straight-forward.

SQL - or Structured Query Language was also developed by IBM at the time to query data from these relational databases but it was actually Oracle in 1978 who released the first commericial RDBMS - relational database management system. Since then many different RDBMS have come to market with Oracle, and Mircorsoft SQL Server dominating the commercial market and MySQL and PostgreSQL leading in open source.

## Which SQL to use?
Oracle, Mircosoft SQL Server, MySQL, PostgreSQL and all other RDBMS implement the SQL programming language in their own way. SQL actually became standardized by the American National Standards Institute and so most RDBMS will have very similar SQL commands. When learning SQL for the first time, its not very important which flavor you choose as the basic queries will look for the most part identical. Each language does provide a host of non-standard functions that will generally be named differently but again, most of the basic functionality can be replicated across the different vendors.

## Database Design
While our primary concern in this notebook is on querying databases, it's nice to visualize tables in the relational model. These visualizations are called **entity relationship** diagrams and are very powerful ways of understanding how the data is related and can help immensely before beginning your queries. ![Movie EER](images/movie_eer.png)

# MySQL Installation
Installing MySQL on your local machine can be a bit of a challenge. Since I have a mac I will outline the exact instructions I took to get MySQL up and running on my machine as I found tutorials online/youtube not comprehensive enough.

## OSX instuctions
1. Navigate to http://dev.mysql.com/downloads/ and Click the first link (MySQL Community Server)
1. Download the DMG file (Mac OS X 10.11 (x86, 64-bit), DMG Archive). Click 'No thanks, just start my download'
1. Navigate back to http://dev.mysql.com/downloads/ and scroll down to MySQL Workbench and download it
1. Once the community server has finished downloading begin the installation. Do not click continue blindly
1. During the installation a screen will show you a temporary password. Do not lose it! ![temp password](images/temp_password.png)
1. Open your terminal (or better - download iterm)
1. In your home directory there is a file called .bash_profile
1. Open .bash_profile with a text editor and add the line **export PATH=/usr/local/mysql/bin:$PATH** to it
1. Back in your home directory in your terminal, reload the bash profile by running the following command **. ~/.bash_profile**
1. Continuing in your terminal, start mysql by running command **mysql -u root -p**
1. If the above command doesn't work, open up system preferences by clicking the apple in the top left hand corner of the screen and clicking the MySQL icon on the bottom row and make sure the server is **running**
1. Enter in your temporary password from step 5
1. change your password by running the following command **SET PASSWORD = PASSWORD('your_new_password');**
1. You should be all set. You can run your frist sql command **SHOW DATABASES;** which should return a table of all the default databaes
1. Open the SQL Workbench dmg. This is straightfoward and will install without any extra steps.


**Windows** - http://www.mysqltutorial.org/install-mysql/  
**Linux** - consult google but **sudo apt-get install mysql-server** and **sudo apt-get install mysql-workbench-community** will get you going

# MySQL Workbench
The workbench is a graphical user interface that provides a nice comfortable environment for beginners. [Check here for an excellent intro to the workbench](https://www.youtube.com/watch?v=X_umYKqKaF0). The browser based phpmyadmin is also good and is an extremely common way of interacting with databases on the web. Click on local instance 3306 and you should enter the main work area.
![workbench](images/workbench.png)

# Loading Data with .sql files
My download of MySQL didn't ship with any database preinstalled. There are a few sample databases that MySQL has available. You can view them here https://dev.mysql.com/doc/index-other.html. 
1. Download one of the databases (world or sakila are the most common ones) from the above link.
2. When you unzip the file, you should have a .sql file
3. In your workbench click the button at the top of the program that opens a sql script
4. Open you .sql file. A long program of sql commands will be loaded onto your screen.
5. Click the lightning bolt to run the entire program
6. Your database should be successfully loaded.
7. Click the refresh button under the Schemas section on the left pane and you should be able to see your new database
8. If you expand the arrows down into your database in the Schemas section you can look at the tables
9. Right click one of the tables and select the first 1000 rows.
10. You will have run your first SQL query

# Loading Clinton email database with .csv files
Many times you won't have a nice .sql file that builds your database for you so you will have to manually load .csv files and create the database yourself
1. Download the Clinton email data by navigating to https://www.kaggle.com/kaggle/hillary-clinton-emails and clicking the download tab
2. Unzip the files
3. Open up MySQL workbench
4. Click the cylinder on the top menu bar. This will create a new schema (database). 
5. Name it 'Clinton' and you can choose utf-8 as its default collation
6. In the Schemas section of the left pane, right click and select 'Table Data import Wizard'
7. Locate your Clinton csv files (there are 4 of them) and load them one by one into the database.
8. The wizard will select the datatypes for you. You can keep the defaults.
9. After loading all 4 csv files, you should have 4 tables in your Clinton database - aliases, emailreceivers, emails and persons.
10. You are ready to start querying

# Using Python to keep queries self-contained in this notebook
MySQL workbench is a typical looking user interface that you will find when looking at analysts querying databases at work. Many dozens of user interfaces have been developed to enhance the sql environment of analysts, many specific to that RDBMS.

But, since traveling back and forth from MySQL workbench to this notebook will become cumbersome, a method on querying your MySQL databases in the notebook will be shown below.

iPython (interactive python) has special magic commands that allow for extra functionality. One of these allows for connecting to a mysql database directly from the notebook.

## Install packages
You must install the following three packages to get started. ipython-sql together with sqlalchemy allows for the iPython notebook to connect to your MySQL database. pymysql actually makes the connection.
```
pip install pymysql
pip install sqlalchemy
pip install ipython-sql
```

## Easy connecting to database
Once you have installed the above packages, a couple commands will connect you to the database

```Python
%load_ext sql
```

This command loads an extension (another magic command) of iPython, the ipython-sql package, that you installed above. Now, `%sql` is a magic command. We simply pass the [sqlalchemy connection string](http://docs.sqlalchemy.org/en/latest/core/engines.html) to the %sql command to connect. The generic form is shown below. Every word in the below connection string must be changed to match your requirements for connecting.

```Python
%sql dialect+driver://username:password@host:port/database
```

In [27]:
# I will connect to my database on my local computer. 
# Yours will be different based on how you set up your MySQL installation
# Supplying a database is also optional
%load_ext sql
%sql mysql+pymysql://root:test@localhost:3306/Clinton

'Connected: root@Clinton'

# Running Code Cells in the Jupyter Notebook
The above block of text is actually a 'Code Cell' and the code in the cell can be executed. To execute code press Cmd + Enter, or Ctrl + Enter.  You can also execute code by clicking the play button located on the menu bar above.

Code cells are easily identified by:  
```
    In [1] Some code here
    Out[1] Some output here
```

Make sure to execute (or 'run') the cell above.

## Running queries with %sql and %%sql
You can now directly type in your sql queries directly following the %sql or %%sql magic commands. iPython magic commands can either be 'line magics' or 'cell magics'. Use %sql for one line sql statements and %%sql for multiline sql statements

Lets write a simple command to show all the tables in the clinton database

In [6]:
# Notice the semicolon. semicolons are used to end sql statements. 
# Not all RDBMS require them but its still good practice
%sql SHOW TABLES;

5 rows affected.

[('aliases',), ('emailreceivers',), ('emails',), ('persons',), ('sent_dict',)]

## Specifying a database
The statement above showed all the tables in the `Clinton` database. You could have connected to MySQL without specifying a database with this command.
```
%sql dialect+driver://username:password@host:port
```

If you don't connect to a specific database at the start you tell MySQL which one you want to use by using the `USE` command. This allows the bypassing of specifically using the database name when making sql statements

In [4]:
%sql USE clinton;

0 rows affected.

[]

## Commands for other databases
If you have already specified a database with the `USE` command you can still write SQL statements on other databases. You'll just have to specify their name in some form in your statement. For example, you can see all the tables in the sakila database by specifying `from sakila`

In [11]:
%sql SHOW TABLES FROM sakila;

23 rows affected.

[('actor',),
 ('actor_info',),
 ('address',),
 ('category',),
 ('city',),
 ('country',),
 ('customer',),
 ('customer_list',),
 ('film',),
 ('film_actor',),
 ('film_category',),
 ('film_list',),
 ('film_text',),
 ('inventory',),
 ('language',),
 ('nicer_but_slower_film_list',),
 ('payment',),
 ('rental',),
 ('sales_by_film_category',),
 ('sales_by_store',),
 ('staff',),
 ('staff_list',),
 ('store',)]

# What is SQL?
SQL is a high-level, easy to write, declarative language for accessing and manipulating data in a relational database management system. It's high-level and easy to write because it uses common english language without complex syntax and many powerful commands can be learned in a relatively short amount of time. Declarative means that you merely specificy the logic of what is desired and the sql interpreter will optimize the execution of the program. The program is not run top to bottom as in a procedural language. This is all figured out behind the scenes without your input.

# Types of SQL statements
There are only a few types of sql statements, but just like there are only 26 letters in the alphabet, these statements along with their clauses and functions can provide an enormous amount of control and power. SQL statements can be divided into four main categories/subsets as seen in the image below.


![sql statements](images/sql_statements.jpg)

## Data Definition Language (DDL)
These statements materially alter the database. [DDL statements that MySQL supports](http://dev.mysql.com/doc/refman/5.7/en/sql-syntax-data-definition.html)
* CREATE - Mainly used to create tables, views and indexes.
* ALTER - Mainly used to change the physical properties of a table or table column
* DROP - Completely removes a database or table
* TRUNCATE - Removes all rows from a table but keeps the table structure

## Data Manipulation Language (DML)
* SELECT - Used to query a database and the most important one for this tutorial
* INSERT - Adds records (rows) to a table
* DELETE - Deletes records from a table
* UPDATE - changes the values of an existing record

## Data Control Language (DCL)
Administration of access to databases, tables, commands
* GRANT - Used to grant access to database objects
* REVOKE - Used to revoke access to database objects

## Transaction Control Language (TCL)
* COMMIT - Saves changes from transaction to the database
* ROLLBACK - Undoes transaction

***

# Our Interest in One Statement
This notebook is primarily concerned with the `SELECT` statement as it is the statement that an analyst will use to extract information from the database. The `SELECT` statement is sometimes further sub-categorized as **data query language (DQL)**

## SELECT Statement Clauses
Amazingly, there are only 6 main key words (although there are many other important ones) called clauses that are used to write nearly all `SELECT` statements

* **SELECT** - Chooses columns, derives columns from functions and is the only required clause
* **FROM** - Determines which table the data is coming from. Often used with **JOIN** to combine tables
* **WHERE** - A filter to remove/include certain data. A boolean expression is placed here that must return true/false for each row
* **GROUP BY** - Used to aggregate data from the same groups
* **HAVING** - A filter (again, like WHERE) that happens after an aggregation has taken place
* **ORDER BY** - Orders the data by specific column(s)

# Formatting SQL
There are many guides to formatting code and SQL is no exception to this. The SQL interpreter ignores blank spaces and is not case sensitive so you can write your queries as one long line and it will still execute. 

You are free to write your queries however you choose but for me, I do the following:
* Each SQL clause will be on a separate line
* each column will have its own line
* each non-clause line will be indented

Below is an example of how I would format a SQL query. You can format your queries how you like. MySQL workbench even has an autoformatter. Click the brush to clean up your query. And there are many online formatters as well. Just google 'sql formatter' to find them. Typically the key words are capitalized but this doesn't particularly bother me. Sometimes a team will get together and implement a standard formatting.

```MySQL
SELECT
    state,
    city,
    AVG(age) as avg_age
FROM
    State_Table
WHERE
    state in ('TX', 'CA', 'NY')
GROUP BY
    state,
    city
HAVING
    avg(age) > 35
ORDER BY
    avg_age desc;
```

# Our First SELECT Statements using the FROM Clause
It's time to write our first SELECT statement. The SELECT statement is used to choose the columns from a table that you would like to see. Take a look at the following select statement.

```SQL
SELECT
    MetadataTo,
    ExtractedTo
FROM
    emails;
```

All this statement does is return the columns MetadataTo and ExtractedTo from the emails table. FROM always identifies the table(s) where the columns will be coming from. Lets acutally write this query in a code cell and execute it.

In [15]:
%%sql
SELECT
    MetadataTo,
    ExtractedTo
FROM
    emails
LIMIT
    20;

20 rows affected.

[('H', ''),
 ('H', ''),
 (';H', 'B6'),
 ('H', ''),
 ('Abedin, Huma', ''),
 ('Russorv@state.gov', ''),
 ('H', ''),
 ('H', ''),
 ('H', ''),
 ('H', ''),
 ('H', ''),
 ('H', 'H; Mills, Cheryl D; Sullivan, Jacob J; Nuiand, Victoria J; Reines, Philippe'),
 ('H', 'H; Mills, Cheryl D; Sullivan, Jacob J, Nuland, Victoria 1; Reines, Philippe f'),
 ('H', ''),
 ('sullivanjj@state.gov', ''),
 ('Russorv@state.gov', ''),
 ('Russorv@state.gov', "'Russorv@stategov'"),
 ('sullivanjj@state.gov', "'sullivanjj@state.gov'"),
 ('H', ''),
 ('H', '')]

# The LIMIT Clause
The LIMIT clause was added here to limit the output to the first 20 rows. LIMIT is important when you are inspecting the table and not going to use the results further down the line. It will also help prevent a massive amount of output from being returned to the notebook.

# How did you know which columns to select?
The columns 'MetadataTo' and 'ExtractedTo' where selected. But how did I know that these columns existed in the table. To view a table's columns and properties of those columns you can use the describe statement or SHOW COLUMNS FROM statement.
```
    DESCRIBE emails;
    SHOW COLUMNS FROM emails;
```

These statements return information (or metadata) about the table.

In [18]:
%sql DESCRIBE emails;

22 rows affected.

[('Id', 'int(11)', 'YES', '', None, ''),
 ('DocNumber', 'text', 'YES', '', None, ''),
 ('MetadataSubject', 'text', 'YES', '', None, ''),
 ('MetadataTo', 'text', 'YES', '', None, ''),
 ('MetadataFrom', 'text', 'YES', '', None, ''),
 ('SenderPersonId', 'text', 'YES', '', None, ''),
 ('MetadataDateSent', 'text', 'YES', '', None, ''),
 ('MetadataDateReleased', 'text', 'YES', '', None, ''),
 ('MetadataPdfLink', 'text', 'YES', '', None, ''),
 ('MetadataCaseNumber', 'text', 'YES', '', None, ''),
 ('MetadataDocumentClass', 'text', 'YES', '', None, ''),
 ('ExtractedSubject', 'text', 'YES', '', None, ''),
 ('ExtractedTo', 'text', 'YES', '', None, ''),
 ('ExtractedFrom', 'text', 'YES', '', None, ''),
 ('ExtractedCc', 'text', 'YES', '', None, ''),
 ('ExtractedDateSent', 'text', 'YES', '', None, ''),
 ('ExtractedCaseNumber', 'text', 'YES', '', None, ''),
 ('ExtractedDocNumber', 'text', 'YES', '', None, ''),
 ('ExtractedDateReleased', 'text', 'YES', '', None, ''),
 ('ExtractedReleaseInPartOrFull', 'text', 'YES', '', None, ''),
 ('ExtractedBodyText', 'text', 'YES', '', None, ''),
 ('RawText', 'text', 'YES', '', None, '')]

# SQL Metadata
The above command will output all columns(fields) and several pieces of additional data or metadata. The Type column shows what data type each column is. This is very important to know and can determine what kind of functions can operate on that column. These column data types were guessed by MySQL when we imported the Clinton csv files. You can speficially choose the types of data types when you use the `CREATE TABLE` statement.

To learn more about data types visit [this excellent summaray](http://www.tutorialspoint.com/mysql/mysql-data-types.htm). The int(11) data type above means that the Id is of type int but only the first 11 digits will be displayed. To read about the other [metadata columns go here](http://dev.mysql.com/doc/refman/5.7/en/show-columns.html)

And to get a description of the columns [visit the kaggle page](https://www.kaggle.com/kaggle/hillary-clinton-emails) were the data was downloaded from. There is a data dictionary there that give detail on every column.

***

# Connect to MySQL with pandas
Hopefully, some people completing this notebook will be familiar with the popularl Python pandas library for data analysis. pandas has a function `read_sql` that will allow you to retrieve data directly into a DataFrame(the primary pandas data structure for holding tabular data). The `read_sql` function takes a sqlalchemy connection and the sql query as text and will return a DataFrame. See the code below.

In [20]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [21]:
# Use your password, create the engine and connect to it
password = 'test' 
engine = create_engine('mysql+pymysql://root:' + password + '@localhost/Clinton')
conn = engine.connect()

Now that you are connected, your sql queries will be returned as pandas DataFrames

In [23]:
# The query must be saved as a string first. Use three single quotes to do a block quote which
# allows you to write multiple lines of text
query = '''
        select 
            MetadataTo, 
            ExtractedTo 
        from 
            emails 
        where 
            extractedto != ''
        limit 10
'''
df_to_from = pd.read_sql(query, conn)
df_to_from

             MetadataTo                                        ExtractedTo
0                    ;H                                                 B6
1                     H  H; Mills, Cheryl D; Sullivan, Jacob J; Nuiand,...
2                     H  H; Mills, Cheryl D; Sullivan, Jacob J, Nuland,...
3     Russorv@state.gov                                 'Russorv@stategov'
4  sullivanjj@state.gov                             'sullivanjj@state.gov'
5       Mills, Cheryl D                                    Mills, Cheryl D
6         Flores, Oscar                                       Oscar Flores
7  sullivanjj@state.gov                              'sullivahu@state.gov'
8     Russorv@state.gov                                 Russoiv@state.gov'
9     abedinh@state.gov                                 'abedinh@state.gov

# Questions
Now that the basics of databases, SQL and connecting to MySQL through the notebook have been covered, a series of questions mixed with content will be asked. A separate notebook will contain the answers to these questions. It is suggested that you write your queries in the MySQL workbench to get comfortable in that environment as well. You can even use the command line inteface by logging into mysql with `mysql -u root -p` and writing your queries there.

# Question 1
<mark> Write a query that allows the comparison of the FROM field in the Clinton email database between both the metadata and the extracted pdf. In words, what are some things you notice that are different between the columns?</mark>

In [32]:
%%sql
# Write your query below.

# Resources
* [MySQL Explained by Andrew Comeau](https://www.amazon.com/MySQL-Explained-Your-Step-Guide) - A nice guide that covers database theory, design and some query building
* http://www.mysqltutorial.org/ - one of the most comprehensive tutorials I have seen on mysql covering installation, basic querying, administration and connectors to other programming languages
* http://sqlzoo.net - A hands on site that asks you to write queries in the browser and checks if you got it right
* http://www.sql-ex.com/ - A russian site (with awkward appearance) that many series of sql exercises with answer checking
* http://www.w3schools.com/sql/ - simple tutorials with examples
* https://www.codecademy.com/learn/learn-sql - a freemium site with a host of tutorials
* https://www.coursera.org/learn/analytics-mysql - fantastic free database + MySQL class